.print-page{
  width: 172mm;
  height: 251mm;
  page-break-after: always;
  background: salmon;
}
.print-page:last-child{
  page-break-after: auto;
}


.print-image{
  border: 1px solid red;
  outline: none;
}

@media print{
  .print-image{
    border: none;
    outline: none;
  }
}

*{
  outline: none;
}
.react-draggable-dragging{
  outline: none;
}
